.heading{
  text-align: center;
  padding-bottom: 10px;
}

.homepage{
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}

.ticket-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 15px;
  width: 95%;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.label-description {
  font-size: 17px;
  padding: 5px;
  font-weight: 500;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.success-submit{
  color: green;
  text-align: center;
}

.failed-submit{
  color: red;
  text-align: center;
}

.ticket-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.ticket-card{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.filters-container {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.filters-container label {
  font-weight: bold; 
  margin-right: 10px; 
}

.filters-container select,
.filters-container input[type="text"] {
  padding: 5px;
  margin-right: 20px;
}

.sort-container {
  display: flex;
  justify-content: space-around;
}